<style>
.ui-slider .noUi-base .noUi-connect {
    background-color: #2abb9b !important;
}
.sidebar .ui-slider .noUi-base .noUi-handle {
    background-color: #2abb9b !important;
}
#updateVisitedText {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}
#updateVisitedText:hover {
    color: orange;
}
.alignTextCenter {
    text-align: center;
}
.controls-more:after {
    display: none;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            <section>
                <div class="form input-group inputs-underline">
                    <input type="text" class="form-control" id="searchText" name="searchText" ng-model="searchText" placeholder="Search Location / Phone / Name">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="textSearchFunction(searchText)" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </section>

            <section class="page-title" ng-hide="noProperty">
                <h1>All Properties</h1>
            </section>

            <section ng-hide="noProperty">
                <div class="item item-row" ng-repeat="prop in resultAllProperties">
                    <a href="javascript:(0)">
                        <div class="image bg-transfer" ng-click="goToDetailsPage(prop.propertyID)">
                            <figure>£ {{prop.propertyPrice}}</figure>
                            <img src="{{prop.propertyImages[0]}}" alt="">
                        </div>
                        <div class="description">
                            <div class="col-sm-6 col-md-6"  ng-click="goToDetailsPage(prop.propertyID)">
                                <h3>{{prop.propertyTitle}}</h3>
                                <div class="label label-default">{{prop.propertyType}}</div>
                                <h4>{{prop.propertyAddress}}</h4>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <h3>Owner Details</h3>
                                <h4>{{prop.userName}}</h4>
                                <h4>{{prop.userEmail}}</h4>
                                <h4>{{prop.userPhone}}</h4>
                                <span class="appointmentText" ng-click="openAppointmentDetails(prop)" ng-if="prop.appointmentUser != undefined && prop.appointmentUser.length != 0">Appointment Exist</span>
                            </div>
                        </div>
                    </a>
                    <div class="controls-more">
                        <input ng-if="prop.isApproved != '1'" type="button" class="btn btn-info" ng-click="approveProperty(prop.propertyID)" value="Approve">
                    </div>
                </div>
            </section>
            <section class="alignTextCenter" ng-show="noProperty">   
                <h1>No Properties Found..!</h1>
            </section>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>