<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8" align="center">
            <h2>Hello {{ userName }}.!</h2><br>
            <p>click here to approve</p><br>
            <input type="button" class="btn btn-primary" value="Approve" ng-click="approveUser()"> 
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</div>