<style>
    /***** For Image upload in Add property page ******/
    table { border-collapse: collapse; }
    .percent {
        position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
    }
    .progress-bar {
        width: 300px; height: 14px;
        border-radius: 10px;
        border: 1px solid #CCC;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
        border-image: initial;
    }
    .uploaded {
        padding: 0;
        height: 14px;
        border-radius: 10px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
        border-image: initial;
    }
    .dropbox {
        width: 100%;
        height: 3em;
        border: 2px dotted #DDD;
        border-radius: 8px;
        background-color: #FFFFFF;
        text-align: center;
        color: #BBB;
        font-size: 2em;
        font-family: Arial, sans-serif;
    }
    .dropbox span {
        margin-top: 0.9em;
        display: block;
    }
    .dropbox.not-available {
        background-color: #F88;
    }
    .dropbox.over {
        background-color: #def7f3;
    }
    .fileInputBoxStyle {
        opacity: 0; 
        border: none;
        border-radius: 3px;
        background: grey;
        position: absolute;
        left: 0px;    
        width: 100%;
        top: 0px;
        height: 100%;
    }
    input[type='checkbox'] {
        margin-right : 6px !important;
    }


    #upload_Preview {
        /* Prevent vertical gaps */
        line-height: 0;
        
        -webkit-column-count: 5;
        -webkit-column-gap:   0px;
        -moz-column-count:    5;
        -moz-column-gap:      0px;
        column-count:         5;
        column-gap:           0px;
    }

    #upload_Preview img {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
        margin: 5px !important;
    }

    @media (max-width: 1200px) {
        #upload_Preview {
            -moz-column-count:    4;
            -webkit-column-count: 4;
            column-count:         4;
        }
    }
    @media (max-width: 1000px) {
        #upload_Preview {
            -moz-column-count:    3;
            -webkit-column-count: 3;
            column-count:         3;
        }
    }
    @media (max-width: 800px) {
        #upload_Preview {
            -moz-column-count:    2;
            -webkit-column-count: 2;
            column-count:         2;
        }
    }
    @media (max-width: 400px) {
        #upload_Preview {
            -moz-column-count:    1;
            -webkit-column-count: 1;
            column-count:         1;
        }
    }
    .imageContainer {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fileRemove {
        font-size: 15px;
        padding-top:8px;
        float: right;
        margin-bottom: -10px;
        margin-right: -14px;
        position: relative;
        background-color: white;
        border-radius: 50%;
        color: white;
        text-align: center;
        background-color: #ed2a21;
        width: 20px;
        height: 20px;
        z-index: 1;
        cursor: pointer;
    }
    .propDesc {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        width: 100%;
        -webkit-box-shadow: 2px 2px 27px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 27px -5px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 27px -5px rgba(0,0,0,0.75);
        cursor: pointer;
    }
    #descriptionTrigger {
        color: #969696;
        text-decoration: underline;
        float: right;
        cursor: pointer;
    }
    .timeCheckBoxes {
        vertical-align: -12px;
    }

    /******************/
</style>
<div class="container">
    <section class="page-title center">
        <h1>Edit Property</h1>
    </section>
    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <form id="addPropertyForm" class="form inputs-underline" enctype="multipart/form-data">
                    <section>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="title">Property Title</label>
                                    <input type="text" class="form-control" name="propertyTitle" id="propertyTitle" placeholder ng-model="propertyTitle" ng-keyup="onPropertyTitleChange(propertyTitle)" required>
                                    <span style="color: red" ng-show="errorPropertyTitle">Enter Property Title</span>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                        <div class="form-group">
                            <label for="description">Property Description</label>
                            <textarea class="form-control" id="propertyDescription" rows="4" name="propertyDescription" id="propertyDescription" ng-model="propertyDescription" placeholder="Description about the property" ng-keyup="onPropertyDescriptionChange(propertyDescription)" ng-focus="onTextDescFocus()" ng-blur="descModalClose = false"></textarea>
                            <span style="color: red" ng-show="errorPropertyDescription">Enter Property Description</span>                                   
                        </div>
                        <span id="descriptionTrigger">Sample descriptions</span>
                        <!--end form-group-->

                    </section>
                    <section>
                        <h3>Contact</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="address-autocomplete">Address</label>
                                    <input type="text" class="form-control" name="address" ng-model="propertyAddress" id="address-autocomplete" placeholder="Address" ng-keyup="onPropertyAddressChange(propertyAddress)">
                                    <span style="color: red" ng-show="errorPropertyAddress">Enter Property Address</span>                                   
                                </div>
                                <!--end form-group-->
                                    <div class="map height-300px shadow" id="map-submit"></div>
                                <!--end map-->
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="latitude" name="propertyLat" hidden="" ng-model="propertyLat" onchange="angular.element(this).scope().onPropLatLongChange()">
                                    <input type="hidden" class="form-control" id="longitude" name="propertyLong" hidden="" ng-model="propertyLong" onchange="angular.element(this).scope().onPropLatLongChange()">
                                    <span style="color: red" ng-show="errorPropertyLatLong">Select Location in Map</span>                                              
                                </div>
                                <p class="note">Enter the exact address or drag the map marker to position</p>
                            </div>
                            <!--end col-md-6-->
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="region">County</label><br><br>
                                    <select class="form-control select2" name="state" id="state" ng-model="state" ng-change="onStateChange(state)">
                                        <option value="">Select County</option>
                                        <option ng-repeat="state in listStates" value="{{state.StateName}}">{{state.StateName}}</option>
                                        
                                    </select><br>
                                    <span style="color: red" ng-show="errorState" id="errorState"></span>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="region">City</label><br><br>
                                    <select class="form-control select2" name="City" id="City" ng-model="City" ng-change="onCityChange(City)">
                                        <option value="">Select City</option>
                                        <option ng-repeat="City in listCities" value="{{City.CityName}}">{{City.CityName}}</option>
                                    </select><br>
                                    <span style="color: red" ng-show="errorCity" id="errorCity"></span> 
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="phone">Post Code</label>
                                    <input type="text" class="form-control" name="pincode" id="pincode" ng-model="propPincode" placeholder="Post Code" ng-keyup="onPinCodeChange(propPincode)">
                                    <span style="color: red" ng-show="errorPropPincode">Enter Postcode</span>  
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" class="form-control" name="propertyPrice" id="propertyPrice" placeholder="Property Price" ng-model="propertyPrice" ng-keyup="onPriceChange(propertyPrice)">
                                    <span style="color: red" ng-show="errorPropertyPrice">Enter Property Price</span>  
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="title">Property Facing</label>
                                    <select class="form-control" name="propertyFacing" id="propertyFacing" ng-model="propertyFacing" ng-change="onPropertyFacingChange(propertyFacing)">
                                        <option value="">Select Property Facing</option>                                                
                                        <option value="North">North</option>
                                        <option value="East">East</option>
                                        <option value="South">South</option>
                                        <option value="West">West</option>
                                        <option value="North East">North East</option>
                                        <option value="North West">North West</option>
                                        <option value="South East">South East</option>
                                        <option value="South West">South West</option>
                                    </select>
                                    <span style="color: red" ng-show="errorPropertyFacing">Select Property Facing</span>  
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </section>
                    <section ng-controller="editFileUploadCtrl">
                        <h3>Property Images</h3>
                        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                        <div id="dropbox" class="dropbox file-upload" ng-class="dropClass">
                            <span >{{dropText}}</span>
                        </div>

                        <div ng-show="files.length">
                            <div ng-show="progressVisible" id="uploadProgress">
                                <div class="percent">{{progress}}%</div>
                                <div class="progress-bar">
                                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                </div>
                            </div>
                            <input type="hidden" id="propImageIds" ng-model="propImageIds" value="">
                            <input type="hidden" id="propImageSrc" ng-model="propImageSrc" value="">
                        </div>
                        <div id="upload_Preview" style="width: 100%; border: 1px solid #E5E5E5">
                            
                        </div>
                        <span style="color: red" ng-show="errorPropImages">Upload Property Images</span>
                    </section>

                    <section>
                        <h3>Property Details</h3>
                        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="accordion-heading-2">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-collapse-2" ng-click="$event.preventDefault()" aria-expanded="false" aria-controls="accordion-collapse-2">
                                            <i class="fa fa-university"></i>Add Property Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordion-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-heading-2">
                                    <div class="panel-body">
                                        <div class="wrapper">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="category">Property Filter</label>
                                                        <select class="form-control" name="propertyFilter" id="propertyFilter" ng-model="propertyFilter" ng-change="onPropFilterChange(propertyFilter)">
                                                            <option value="">Select Property Filter</option>
                                                            <option value="Cluster Home">Cluster Home</option>
                                                            <option value="Conversion">Conversion</option>
                                                            <option value="Detached">Detached</option>
                                                            <option value="End Terraced">End Terraced</option>
                                                            <option value="Link Detached">Link Detached</option>
                                                            <option value="Mid Terraced">Mid Terraced</option>
                                                            <option value="Purpose Built">Purpose Built</option>
                                                            <option value="Semi Detached">Semi Detached</option>
                                                        </select>
                                                        <span style="color: red" ng-show="errorPropertyFilter">Select Property Filter</span>  
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="category">Floor Covering</label>
                                                        <select class="form-control" name="floorCovering" id="floorCovering" ng-model="floorCovering" ng-change="onFloorCoveringChange(floorCovering)">
                                                            <option value="">Select Floor Covering</option> 
                                                            <option value="Carpet">Carpet</option>
                                                            <option value="Lined">Lined</option>
                                                            <option value="Tiled">Tiled</option>
                                                            <option value="Wooden Laminated">Wooden Laminated</option>
                                                            <option value="Other">Other</option>                                                                    
                                                        </select>
                                                        <span style="color: red" ng-show="errorFloorCovering">Select Floor Covering</span>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="category">Internal Condition</label>
                                                        <select class="form-control" name="internalCondition" id="internalCondition" ng-model="internalCondition" ng-change="onInternalConditionChange(internalCondition)">
                                                            <option value="">Select Internal Condition</option>                                                
                                                            <option value="ExtraOrdinary">Extraordinary</option>
                                                            <option value="Good">Good</option>
                                                            <option value="Fair">Fair</option>
                                                            <option value="Need Improvement">Need Improvement</option>
                                                        </select>
                                                        <span style="color: red" ng-show="errorInternalCondition">Select Internal Condition</span>  
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="category">External Condition</label>
                                                        <select class="form-control" name="externalCondition" id="externalCondition" ng-model="externalCondition" ng-change="onExternalConditionChange(externalCondition)">
                                                            <option value="">Select External Condition</option>                                                
                                                            <option value="ExtraOrdinary">Extraordinary</option>
                                                            <option value="Good">Good</option>
                                                            <option value="Fair">Fair</option>
                                                            <option value="Need Improvement">Need Improvement</option>                                                                 
                                                        </select>
                                                        <span style="color: red" ng-show="errorExternalCondition">Select External Condition</span>                                                                  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">Property Age</label>
                                                        <input type="text" class="form-control" name="propertyAge" id="propertyAge" placeholder="Property Age (In Years)" ng-model="propertyAge"  ng-keyup="onPropertyAgeChange(propertyAge)">
                                                        <span style="color: red" ng-show="errorPropertyAge">Enter Age of Property</span>                                                                                                                                  
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">No. Of Parking</label>
                                                        <input type="text" class="form-control" name="noOfParking" id="noOfParking" placeholder="Number of Parking" ng-model="noOfParking" ng-keyup="onNoOfParkingChange(noOfParking)">
                                                        <span style="color: red" ng-show="errorNoOfParking">Enter Number of Parking</span>                                                                                                                                  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">No. Of Bed Rooms</label>
                                                        <input type="text" class="form-control" name="noOfBedRooms" id="noOfBedRooms" placeholder="Number of Bedrooms" ng-model="noOfBedRooms" ng-keyup="onNoOfBedRoomsChange(noOfBedRooms)">
                                                        <span style="color: red" ng-show="errorNoOfBedRooms">Enter Number of Bedrooms</span>                                                                
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">No. Of Bath Rooms</label>
                                                        <input type="text" class="form-control" name="noOfBathRooms" id="noOfBathRooms" placeholder="Number of Bath Rooms" ng-model="noOfBathRooms" ng-keyup="onNoOfBathRoomsChange(noOfBathRooms)">
                                                        <span style="color: red" ng-show="errorNoOfBathRooms">Enter Number of Bathrooms</span>                                                                
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">No. Of Study Rooms</label>
                                                        <input type="text" class="form-control" name="noOfStudyRooms" id="noOfStudyRooms" placeholder="Number of Study Rooms" ng-model="noOfStudyRooms" ng-keyup="onNoOfStudyRoomsChange(noOfStudyRooms)">
                                                        <span style="color: red" ng-show="errorNoOfStudyRooms">Enter Number of Study Rooms</span>                                                                
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">No. Of Reception Rooms</label>
                                                        <input type="text" class="form-control" name="noOfReceptionRooms" id="noOfReceptionRooms" placeholder="Number of Reception Rooms" ng-model="noOfReceptionRooms" ng-keyup="onNoOfReceptionRoomsChange(noOfReceptionRooms)">
                                                        <span style="color: red" ng-show="errorNoOfReceptionRooms">Enter Number of Reception Rooms</span>                                                                
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">Cellar Basement</label>
                                                        <input type="text" class="form-control" name="cellarBasement" id="cellarBasement" placeholder="Cellar Basement" ng-model="cellarBasement" ng-keyup="onCellarBasementChange(cellarBasement)">
                                                        <span style="color: red" ng-show="errorCellarBasement">Enter Details about Cellar Basement</span>                                                                                                                                
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">Cable Satellite</label>
                                                        <input type="text" class="form-control" name="cableSatelite" id="cableSatelite" placeholder="Cable Satellite" ng-model="cableSatellite" ng-keyup="onCableSatelliteChange(cableSatellite)">
                                                        <span style="color: red" ng-show="errorCableSatellite">Enter Details about Cable Satellite</span>                                                                
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="title">Blinds Curtains</label>
                                                        <input type="text" class="form-control" name="blindsCurtains" id="blindsCurtains" placeholder="Blinds Curtains" ng-model="blindsCurtains" ng-keyup="onBlindsCurtainsChange(blindsCurtains)">
                                                        <span style="color: red" ng-show="errorBlindsCurtains">Enter Details about Blinds Curtains</span>                                                                
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3>Extra Details</h3>
                        <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="accordion-heading-3">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-collapse-3" ng-click="$event.preventDefault()" aria-expanded="false" aria-controls="accordion-collapse-3">
                                            <i class="fa fa-building-o"></i>Add Property Extra Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordion-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-heading-3">
                                    <div class="panel-body">
                                        <div class="wrapper">
                                            <ul class="checkboxes">
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isFrontGarder" ng-model="isFrontGarden">Front Garden</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isRearGarden" ng-model="isRearGarden">Rear Garden</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isExtractorFanBathroom" ng-model="isExtractorFanBathroom">BathRoom Extractor Fan</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isSeperateWC" ng-model="isSeperateWC">Seperate Water Closet</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isEnsuite" ng-model="isEnsuite">Ensuite</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="utilityRoom" ng-model="utilityRoom">Utility Room</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="heatingGas" ng-model="heatingGas">Heating Gas</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="heatingElectricty" ng-model="heatingElectricty">Heating Electricity</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="smokeAlarm" ng-model="smokeAlarm">Smoke Alarm</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="monoxideAlarm" ng-model="monoxideAlarm">Monoxide Alarm</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="chimney" ng-model="chimney">Chimney</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="doubleGlazing" ng-model="doubleGlazing">Double Glazing</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isKitchenWashingMachin" ng-model="isKitchenWashingMachin">Kitchen Washing Machine</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="saniflo" ng-model="saniflo">Saniflo</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isKitchenTumbleDryer" ng-model="isKitchenTumbleDryer">Kitchen Tumble Dryer</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isKitchenOven" ng-model="isKitchenOven">Kitchen Oven</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isKitchenHob" ng-model="isKitchenHob">Kitchen Hob</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                                <li>
                                                    <div class="form-group">
                                                        <label class="no-margin"><input type="checkbox" name="isExtractorFan" ng-model="isExtractorFan">Extractor Fan</label>
                                                    </div>
                                                    <!--end form-group-->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3>Available Hours</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="accordion-heading-1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#accordion-collapse-1" ng-click="$event.preventDefault()" aria-expanded="false" aria-controls="accordion-collapse-1">
                                            <i class="fa fa-clock-o"></i>Mention Available Hours
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordion-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-heading-1">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isAllDays" class="timeCheckBoxes" type="checkbox" ng-click="onAllDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Select All Days</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4"></div>
                                            <div class="col-md-4 col-sm-4"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isMonday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Monday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="mondayAMFrom" name="mondayAMFrom" placeholder="AM From" ng-disabled="mondayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="mondayAMTill" name="mondayAMTill" placeholder="AM Till" ng-disabled="mondayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="mondayPMFrom" name="mondayPMFrom" placeholder="PM From" ng-disabled="mondayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="mondayPMTill" name="mondayPMTill" placeholder="PM Till" ng-disabled="mondayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isTuesday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Tuesday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="tuesdayAMFrom" name="tuesdayAMFrom" placeholder="AM From" ng-disabled="tuesdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="tuesdayAMTill" name="tuesdayAMTill" placeholder="AM Till" ng-disabled="tuesdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="tuesdayPMFrom" name="tuesdayPMFrom" placeholder="PM From" ng-disabled="tuesdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="tuesdayPMTill" name="tuesdayPMTill" placeholder="PM Till" ng-disabled="tuesdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isWednesday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Wednesday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="wednesdayAMFrom" name="wednesdayAMFrom" placeholder="AM From" ng-disabled="wednesdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="wednesdayAMTill" name="wednesdayAMTill" placeholder="AM Till" ng-disabled="wednesdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="wednesdayPMFrom" name="wednesdayPMFrom" placeholder="PM From" ng-disabled="wednesdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="wednesdayPMTill" name="wednesdayPMTill" placeholder="PM Till" ng-disabled="wednesdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isThursday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Thursday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="thursdayAMFrom" name="thursdayAMFrom" placeholder="AM From" ng-disabled="thursdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="thursdayAMTill" name="thursdayAMTill" placeholder="AM Till" ng-disabled="thursdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="thursdayPMFrom" name="thursdayPMFrom" placeholder="PM From" ng-disabled="thursdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="thursdayPMTill" name="thursdayPMTill" placeholder="PM Till" ng-disabled="thursdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isFriday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Friday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="fridayAMFrom" name="fridayAMFrom" placeholder="AM From" ng-disabled="fridayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="fridayAMTill" name="fridayAMTill" placeholder="AM Till" ng-disabled="fridayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="fridayPMFrom" name="fridayPMFrom" placeholder="PM From" ng-disabled="fridayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="fridayPMTill" name="fridayPMTill" placeholder="PM Till" ng-disabled="fridayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isSaturday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Saturday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="saturdayAMFrom" name="saturdayAMFrom" placeholder="AM From" ng-disabled="saturdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="saturdayAMTill" name="saturdayAMTill" placeholder="AM Till" ng-disabled="saturdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="saturdayPMFrom" name="saturdayPMFrom" placeholder="PM From" ng-disabled="saturdayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="saturdayPMTill" name="saturdayPMTill" placeholder="PM Till" ng-disabled="saturdayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1">
                                                <input ng-model="isSunday" class="timeCheckBoxes" type="checkbox" ng-click="onDaysChecked()">
                                            </div>
                                            <div class="col-md-3 col-sm-3 horizontal-input-title">
                                                <strong>Sunday</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmFrom" id="sundayAMFrom" name="sundayAMFrom" placeholder="AM From" ng-disabled="sundayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker AmTill" id="sundayAMTill" name="sundayAMTill" placeholder="AM Till" ng-disabled="sundayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmFrom" id="sundayPMFrom" name="sundayPMFrom" placeholder="PM From" ng-disabled="sundayCheckedFalse">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control datetimepicker PmTill" id="sundayPMTill" name="sundayPMTill" placeholder="PM Till" ng-disabled="sundayCheckedFalse">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="color: red" ng-show="errorOpeningHours">Please enter available hours</span>                                                                
                    </section>
                    
                    <hr>
                    <section class="center">
                        <div class="form-group">
                            <button type="button" id="submitAddPropBtn" class="btn btn-primary btn-rounded" ng-click="updateProperty()">Submit Property</button>
                        </div>
                        <!--end form-group-->
                    </section>
                </form>
                <!--end form-->
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </section>
</div>
<!--end container-->
<div id="modal-description" class="modal fade" role="dialog">
    <div class="modal-dialog width-400px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="section-title">
                    <h2>Sample Descriptions</h2>
                </div>
            </div>
            <div class="modal-body">
                <!-- <h4>You can choose any of the sample property descriptions listed below:</h4> -->
                <div class="propDesc" id="desc1" ng-click="selectDesc(1)">Zingymove are pleased to offer this property comprising of a modern open plan
                lounge/kitchen/diner, TWO DOUBLE BEDROOM and bathroom with shower. Property is located
                in the old town so close proximity to shops and amenities.</div>

                <div class="propDesc" id="desc2" ng-click="selectDesc(2)">Offered in superb condition, this one bedroom cluster house is located in this ever popular quiet
                part of Hemel Hempstead. The property has its own enclosed garden and comprises of a
                spacious lounge, fully fitted and appliance modern kitchen, One double bedroom, gas central
                heating.</div>

                <div class="propDesc" id="desc3" ng-click="selectDesc(3)">Exclusive to Zingymove a delightful two bedroom flat comprising of spacious lounge, fully fitted
                and applianced kitchen, large double bedroom and further single bedroom, bathroom with bath &amp;
                shower. Available now</div>
                <hr>
            </div>
            <!--end modal-body-->
        </div>
        <!--end modal-content-->
    </div>
</div>


        <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
                    format: 'hh:mm A'
                });
            });
        </script>