<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Contact</li>
    </ol>
    <!--end breadcrumb-->
    <section class="page-title">
        <h1>My Properties</h1>
    </section>
    <!--end page-title-->
    <section>
        <div class="my-items table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Properties</th>
                    <th>Featured</th>
                    <th>Views</th>
                    <th>Reviews</th>
                    <th>Rating</th>
                    <th>Last Edited</th>
                </tr>
                </thead>
                <tbody>
                <tr class="my-item" ng-repeat="myProp in myProperties">
                    <td>
                        <div class="image-wrapper">
                            <div class="circle" data-toggle="tooltip" data-placement="right" title="Top Listing"><i class="fa fa-thumbs-up"></i></div>
                            <a href="javascript:(0)" class="image">
                                <div class="bg-transfer">
                                    <img src="{{ myProp.propertyImages[0] }}">
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <a href="javascript:(0)" ng-click="goToDetailsPage(myProp.propertyID)"><h2>{{ myProp.propertyTitle }}</h2></a>
                            <figure class="location">{{ myProp.propertyAddress }}</figure>
                            <figure class="label label-info">{{ myProp.propertyType }}</figure>
                            <div class="additional-info">
                                <!--<span><i class="fa fa-bed"></i>12</span>-->
                                <!--<span class="price-info">From <span class="price">$32</span><span class="appendix">/night</span></span>-->
                            </div>
                            <!--end additional-info-->
                        </div>
                        <!--end info-->
                    </td>
                    <td><div class="featured yes"><i class="fa fa-check"></i><aside></aside></div></td>
                    <td class="views"></td>
                    <td class="reviews"></td>
                    <td class="rating">
                        <div class="rating-passive" data-rating="4">
                            <span class="stars"></span>
                            <span class="reviews"></span>
                        </div>
                    </td>
                    <td class="last-edited">Today 15:32
                        <span class="last-edit">Last edited: Today 12:35</span>
                        <div class="edit-options">
                            <a href="javascript:(0)" ng-click="goToEditPage(myProp.propertyID)"class="link icon"><i class="fa fa-edit"></i>Edit</a>
                            <a href="javascript:(0)" ng-click="deleteProperty(myProp.propertyID)" class="link icon delete"><i class="fa fa-trash"></i>Delete</a>
                        </div>
                        <!--end edit-options-->
                    </td>
                </tr>
                <!--end my-item-->
                </tbody>
            </table>
        </div>
        <!--end my-items-->
    </section>
    <!--<section>
        <div class="center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="disabled previous">
                        <a href="#" aria-label="Previous">
                            <i class="arrow_left"></i>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next">
                        <a href="#" aria-label="Next">
                            <i class="arrow_right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>-->
</div>
<!--end container-->