        <div class="container">
            <div class="row">
                    <section class="page-title">
                        <h1>User Details</h1>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-md-4 col-sm-6"></div>
                            <div class="col-md-4 col-sm-6">
                                <div class="subject-list">
                                    <figure class="ribbon">{{userDetails.userType}}</figure>
                                    <div class="description">
                                        <section class="name">
                                            <h3>{{userDetails.userName}}</h3>
                                            <h4 ng-if="userDetails.propertyDetails != undefined && userDetails.propertyDetails.length > 0">{{userDetails.propertyDetails.length}} Properties</h4>
                                        </section>
                                        <!--end description-->
                                        <section class="contacts">
                                            <figure><i class="fa fa-phone"></i>{{userDetails.userPhone}}</figure>
                                            <figure><i class="fa fa-envelope"></i>{{userDetails.userEmail}}</figure>
                                        </section>
                                        <!--end contacts-->
                                        <section class="social">
                                            <!-- <a href="#"><i class="social_twitter"></i></a>
                                            <a href="#"><i class="social_facebook"></i></a>
                                            <a href="#"><i class="social_youtube"></i></a> -->
                                        </section>
                                        <!--end social-->
                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end subject-list-->
                            </div>
                            <div class="col-md-4 col-sm-6"></div>
                        </div>
                    </section>

                    
                    
                    <section ng-if="properties.length > 0">
                        <h2>Properties</h2>
                        <section>
                            <div class="row">
                                <div class="col-md-4 col-sm-4" ng-repeat="prop in properties">
                                    <div class="item" ng-click="gotoPropertyDetails(prop.propertyID)">
                                        <figure class="ribbon">&#163; {{prop.propertyPrice}}</figure>
                                        <a href="javascript:(0)">
                                            <div class="description">
                                                <div class="label label-default">{{prop.propertyType}}</div>
                                                <h3>{{prop.propertyTitle}}</h3>
                                                <h4>{{prop.propertyAddress}}</h4>
                                            </div>
                                            <div class="image bg-transfer">
                                                <img src="{{ prop.propertyImages[0] }}" ng-if="prop.propertyImages[0] != undefined && prop.propertyImages[0] != null">
                                                <img src="assets/common/locationUI/img/items/no_photo.jpg" ng-if="prop.propertyImages[0] == undefined || prop.propertyImages[0] == null">
                                            </div>
                                        </a>
                                        <div class="additional-info">
                                            <div class="rating-passive" data-rating="4">
                                                <span class="stars"></span>
                                                <span style="color: #26B291">{{prop.noOfViews}} Views</span>
                                            </div>
                                            <div class="controls-more">
                                                <ul>
                                                    <!-- <li><a href="#">Add to favorites</a></li>
                                                    <li><a href="#">Add to watchlist</a></li>
                                                    <li><a href="#" class="quick-detail">Quick detail</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                
            </div>
        </div>
