<!--<div class="cwt__footer" ng-class="{'visible-footer': showFooter}">
    <div class="cwt__footer__top">
        <div class="row">
            <div class="col-lg-6">
                <div class="cwt__footer__title cwt__footer__title--light">
                    Check Out Preselected Demos
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index.html#/Dashboard" class="cwt__footer__link">Vertical Menu (Default)</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_menu_shadow_superclean.html#/ecommerce/products-catalog" class="cwt__footer__link">Ecommerce Version</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_horizontal_boxed_container.html#/Dashboard" class="cwt__footer__link">Horizontal Menu + Boxed Container</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_iconbar.html#/Dashboard" class="cwt__footer__link">Iconbar Vertical Menu</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_inverse.html#/Dashboard" class="cwt__footer__link">Inverse Color Scheme</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_menu_shadow_superclean.html#/Dashboard" class="cwt__footer__link">Super Clean Mode + Menu Shadow</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_horizontal.html#/Dashboard" class="cwt__footer__link">Horizontal Menu</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_horizontal_compact.html#/Dashboard" class="cwt__footer__link">Compact Horizontal Menu</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_boxed.html#/Dashboard" class="cwt__footer__link">Vertical Menu + Boxed</a></li>
                            <li><a target="_blank" href="http://cleanuitemplate.com/version_angular/index_horizontal_boxed.html#/Dashboard" class="cwt__footer__link">Horizontal Menu + Boxed</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cwt__footer__title">
                    Clean UI Admin Template
                </div>
                <div class="cwt__footer__description">
                    <p>Clean UI – a modern professional admin template, based on Bootstrap 4
                        framework. Clean UI is a powerful and super flexible tool, which suits best for any
                        kind of web application: Web Applications; CRM; CMS; Admin Panels; Dashboards; etc.
                        Clean UI is fully responsive, which means that it looks perfect on mobiles and
                        tablets</p>

                    <p>Clean UI is fully based on SASS pre-processor, includes 50+ commented SASS files.
                        Each file corresponds to a single component, layout, page, plugin or extension –
                        so you can easily find necessary piece of code and edit it for your needs.
                        The package includes both normal and minified CSS files, compiled from SASS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cwt__footer__bottom">
        <div class="row">
            <div class="col-md-4">
                <a href="https://themeforest.net/item/clean-ui-premium-bootstrap-4-admin-template-angular-starter-kit/16678285?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-primary">
                    Buy Now 25$
                </a>
            </div>
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="../assets/common/img/temp/mediatec.png" target="_blank" title="Mediatec Software">
                    <span>
                        © 2016 <a href="http://mediatec.org/" class="cwt__footer__link" target="_blank">Mediatec Software</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="main-backdrop"> </div>

</body>
</html>-->


<footer id="page-footer">
        <div class="footer-wrapper">
            <div class="block">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">
                            <!--<p data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>-->
                        </div>
                        <div class="element width-50 text-align-right">
                            <!--<a href="#" class="circle-icon"><i class="social_twitter"></i></a>
                            <a href="#" class="circle-icon"><i class="social_facebook"></i></a>
                            <a href="#" class="circle-icon"><i class="social_youtube"></i></a>-->
                        </div>
                    </div>
                    <div class="background-wrapper">
                        <div class="bg-transfer opacity-50">
                            <img src="../assets/common/locationUI/img/footer-bg.png" alt="">
                        </div>
                    </div>
                    <!--end background-wrapper-->
                </div>
            </div>
            <div class="footer-navigation">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">(C) 2018 Zingy Move, All right reserved</div>
                        <div class="element width-50 text-align-right">
                            <!--<a href="index.html">Home</a>
                            <a href="listing-grid-right-sidebar.html">Listings</a>
                            <a href="submit.html">Submit Item</a>
                            <a href="contact.html">Contact</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
    <!--end page-footer-->
