    <header id="page-header">
        <nav ng-controller="topMenuController">
            <div class="left">
                <a href="index.html" class="brand"><img src="../assets/common/locationUI/img/logo_zingyMove.png" alt=""></a>
            </div>
            <div class="right">
                <div class="primary-nav has-mega-menu" ng-show="isLoggedIn">
                    
                    <ul class="navigation">
                        <li class="active"><a href="#nav-homepages">Home</a></li>
                        <li class="has-child" ng-if="userType == 'Owner' || userType == 'Admin'">
                            <a href="#!/AddProperty">Add Property</a>
                        </li>
                        <li><a href="#!/Profile" ng-if="userType == 'Super Admin'">Add User</a></li>
                        <li><a href="#!/AllProperties" ng-if="userType == 'Super Admin'">Properties</a></li>
                    </ul>
                </div>
                <div class="secondary-nav" ng-hide="isLoggedIn">
                    <a href="#!/HowItWorks">How It Works</a>
                    <a href="#" data-target="#modal-sign-in" data-toggle="modal" >Sign In</a>
                    <a href="#" class="promoted" data-target="#modal-register" data-toggle="modal">Register</a>
                </div>
                <div class="secondary-nav" ng-show="isLoggedIn">
                    <ul class="navigation">
                        <li class="has-child">
                            <div class="image"><div class="bg-transfer"><img src="../assets/common/locationUI/img/person-01.jpg" alt=""></div></div>
                            <a href="javascript:(0)" class="invisible-on-mobile">{{ userName }}</a>
                            <div class="wrapper">
                                <div class="nav-wrapper">
                                    <ul>
                                        <li><a href="#!/Profile"><i class="fa fa-user"></i>View Profile</a></li>
                                        <li><a href="javascript: (0)" ng-click="logOut()"><i class="fa fa-sign-out"></i>Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
        </nav>
    </header>
