<style>
    #noProperty {
        border:1px solid #d3d3d3;
        height: 100px;
        padding-top: 30px;
        text-align: center;
        font-family: inherit;
        font-size: 30px;
        color: #2A957C;
        font-weight: bold;
        border-radius: 10px;    
        box-shadow: 2px 2px 2px #d3d3d3;
    }
    #propertiesGrid {
        padding: 40px;
    }
    .figureAppointments {
        cursor: pointer;
    }
</style>
<section>
    <div class="section-title" style="padding-left: 20px">
        <h2>My Properties</h2>
    </div>
    <div style="padding-right: 40px; padding-left: 40px">
        <div class="form input-group inputs-underline">
            <input type="text" class="form-control" id="searchText" name="searchText" ng-model="searchText" placeholder="Search By Location / Address / Title">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="textSearchFunction(searchText)" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</section>
<section>
    <div class="row" id="propertiesGrid" ng-hide="noProperties">
        <div class="col-md-3 col-sm-3" ng-repeat="myProp in myProperties">
            <div class="item" data-id="1">
                <figure class="ribbon" class="figureAppointments" ng-if="myProp.appointments.length > 0" ng-click="goToAppointments(myProp.appointments)">{{myProp.appointments.length}} Appointments</figure>
                <a href="javascript:(0)"  ng-click="goToDetailsPage(myProp.propertyID)">
                    <div class="description">
                        <figure>Price: &#163; {{myProp.propertyPrice}}</figure>
                        <div class="label label-default">{{myProp.propertyType}}</div>
                        <h3>{{myProp.propertyTitle}}</h3>
                        <h4>{{myProp.propertyAddress}}</h4>
                    </div>
                    <!--end description-->
                    <div class="image bg-transfer">
                        <img src="{{ myProp.propertyImages[0] }}" ng-if="myProp.propertyImages[0] != undefined && myProp.propertyImages[0] != null">
                        <img src="assets/common/locationUI/img/items/no_photo.jpg" ng-if="myProp.propertyImages[0] == undefined || myProp.propertyImages[0] == null">
                    </div>
                    <!--end image-->
                </a>
                <div class="additional-info">
                    <div class="rating-passive" data-rating="4">
                        <span class="stars"></span>
                        <span style="color: #26b291">{{myProp.noOfViews}} Views</span>
                    </div>
                    <div class="controls-more">
                        <ul>
                            <li><a href="javascript:(0)" ng-click="goToEditPage(myProp.propertyID)"class="link icon"><i class="fa fa-edit"></i>Edit</a></li>
                            <li><a href="javascript:(0)" ng-click="deleteProperty(myProp.propertyID)" class="link icon delete"><i class="fa fa-trash"></i>Delete</a></li>
                        </ul>
                    </div>
                    <!--end controls-more-->
                </div>
                <!--end additional-info-->
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<div class="row" ng-show="noProperties">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10" id="noProperty">
        No Properties Found..!
    </div>
    <div class="col-md-1 col-sm-1"></div>
</div>

<div id="modal-appointments" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="section-title">
                        <h2>Appointments</h2>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row box" style="margin: 15px !important" ng-repeat="appointment in appointments">
                        <div class="col-md-8 col-sm-6">
                            <div class="col-md-6 col-sm-6">
                                {{ appointment.appointmentUserName }}
                                <a href="javascript:(0)" ng-if="appointment.appointmentStatus == 'Accept'">({{ appointment.appointmentUserPhone }})</a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {{ appointment.appointmentDate }}
                                ({{ appointment.appointmentTime }})
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" ng-if="appointment.appointmentStatus == '' || appointment.appointmentStatus == null">
                            <div class="col-md-6 col-sm-6">
                                <input type="button" class="btn-success btn-rounded" ng-click="acceptRejectAppointments('Accept',appointment.appointmentID)" value="Accept">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="button" class="btn-danger btn-rounded" ng-click="acceptRejectAppointments('Reject',appointment.appointmentID)" value="Reject">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" style="text-align: center" ng-if="appointment.appointmentStatus == 'Accept'">
                            <!--<div class="col-md-6 col-sm-6">
                                <span style="color:#2A957C; font-family: inherit">Accepted</span>
                            </div>
                            <div class="col-md-6 col-sm-6">-->
                                <input type="button" class="btn-danger btn-rounded" ng-click="acceptRejectAppointments('Reject',appointment.appointmentID)" value="Reject">
                            <!--</div>-->
                        </div>
                        <div class="col-md-4 col-sm-6" style="text-align: center" ng-if="appointment.appointmentStatus == 'Reject'">
                            <span style="color: red; font-family: inherit"><i class="fa fa-ban"></i> &nbsp; Rejected</span>
                        </div>
                    </div>
                </div>
                <!--end modal-body-->
        </div>
        <!--end modal-content-->
    </div>
</div>