<div class="hero-section full-screen has-map has-sidebar sidebar-grid">
            <div class="map-wrapper">
                <div class="geo-location">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="map" id="map-homepage"></div>
            </div>
            <!--end map-wrapper-->
            <div class="results-wrapper">
                <div class="sidebar-detail">
                    <div class="tse-scrollable">
                        <div class="tse-content">
                            <div class="sidebar-wrapper"></div>
                            <!--end sidebar-detail-content-->
                        </div>
                        <!--end tse-content-->
                    </div>
                    <!--end tse-scrollable-->
                </div>
                <!--end sidebar-detail-->
                <div class="form search-form inputs-underline">
                    <form>
                        <div class="section-title">
                            <h2>Search</h2>
                        </div>
                        <!--<div class="form-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Enter keyword">
                        </div>-->
                        <!--end form-group-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <select class="form-control select2" name="city" id="propertyCity" ng-model="propertyCity">
                                        <option value="">City</option>
                                        <option value="London">London</option>
                                        <option value="Leeds">Leeds</option>
                                        <option value="Cambridge">Cambridge</option>
                                        <option value="Manchester">Manchester</option>
                                        <option value="Bristol">Bristol</option>
                                        <option value="LiverPool">LiverPool</option>
                                        <option value="NewCastle">NewCastle</option>
                                        <option value="NottingHam">NottingHam</option>
                                        <option value="Glasgow">Glasgow</option>
                                        <option value="Sheffield">Sheffield</option>
                                        <option value="Edinburgh">Edinburgh</option>
                                        <option value="York">York</option>
                                        <option value="Cardiff">Cardiff</option>
                                        <option value="Oxford">Oxford</option>
                                        <option value="Kingston">Kingston</option>
                                        <option value="Southampton">Southampton</option>
                                        <option value="Belfost">Belfost</option>
                                        <option value="Brighton">Brighton</option>
                                        <option value="Portsmouth">Portsmouth</option>
                                        <option value="Plymouth">Plymouth</option>
                                        <option value="Derby">Derby</option>
                                        <option value="Newport">Newport</option>
                                    </select>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <select class="form-control select2" name="propertyType" id="propertyType" ng-model="propertyType">
                                        <option value="">Select Property Type</option>                                                
                                        <option value="House">House</option>
                                        <option value="Bungalow">Bungalow</option>
                                        <option value="Flats">Flats</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Masionette">Masionette</option>
                                        <option value="NewHomes">New Homes</option>
                                        <option value="RetirementHomes">Retirement Homes</option>
                                        <option value="ParkHome">ParkHome</option>
                                        <option value="MobileHome">Mobile Home</option>
                                    </select>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="ui-slider" id="price-slider" data-value-min="1000" data-value-max="100000" data-value-type="price" data-currency="£" data-currency-placement="before">
                                        <div class="values clearfix">
                                            <input class="value-min" id="priceMinValue" name="value-min[]" readonly>
                                            <input class="value-max" id="priceMaxValue" name="value-max[]" readonly>
                                        </div>
                                        <div class="element"></div>
                                    </div>
                                    <!--end price-slider-->
                                </div>
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" ng-click="searchProperties()"><i class="fa fa-search"></i></button>
                        </div>
                        <!--end form-group-->
                    </form>
                    <!--end form-hero-->
                </div>
                <div class="results">
                    <div class="tse-scrollable">
                        <div class="tse-content">
                            <div class="section-title">
                                <h2>Search Results<span class="results-number"></span></h2>
                            </div>
                            <!--end section-title-->
                            <div class="results-content">
                                
                            </div>
                            <!--end results-content-->
                        </div>
                        <!--end tse-content-->
                    </div>
                    <!--end tse-scrollable-->
                </div>
                <!--end results-->
            </div>
            <!--end results-wrapper-->



        </div>
        <!--end hero-section-->

        
        <!-- <section class="block background-is-dark">
            <div class="container">
                <div class="section-title vertical-aligned-elements">
                    <div class="element">
                        <h2>Featured Properties</h2>
                    </div>
                    <div class="element text-align-right">
                        <div id="gallery-nav"></div>
                    </div>
                </div>
            </div>
            <div class="gallery featured">
                <div class="owl-carousel" data-owl-items="6" data-owl-loop="1" data-owl-auto-width="1" data-owl-nav="1" data-owl-dots="1" data-owl-nav-container="#gallery-nav">
                    <div class="item featured" data-id="1" ng-repeat = "prop in resultAllProperties">
                        <a href="javascript:(0)" ng-click="openDetails(prop.propertyID)">
                            <div class="description">
                                <div class="label label-default">{{ prop.propertyType }}</div>
                                <h3>{{ prop.propertyTitle }}</h3>
                                <h4>{{ prop.propertyAddress }}</h4>
                            </div>
                            <div class="image bg-transfer">
                                <img src="{{prop.propertyImages[0]}}" alt="">
                            </div>
                        </a>
                        <div class="additional-info">
                            <div class="rating-passive" data-rating="4">
                                <span class="stars"></span>
                            </div>
                            <div class="controls-more">
                                <ul>
                                    <li><a href="javascript:(0)" ng-click="saveProperty(prop.propertyID)">Add to Favourites</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-wrapper">
                <div class="background-color background-color-default"></div>
            </div>
        </section> -->

<div id="modal-sign-in" class="modal fade" role="dialog">
    <div class="modal-dialog width-400px" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="section-title">
                        <h2>Sign In</h2>
                    </div>
                    <div class="row" ng-show="loginFailed">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <span style="color:red; align: center; font-size: 15px">
                                Please check User name and Password
                            </span>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form inputs-underline" name="loginForm" ng-model="loginForm" id="loginForm" novalidate>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" ng-model="loginMail" name="loginMail" id="loginMail" placeholder="Email" ng-change="onLoginMailChange(loginMail)" required>
                            <span style="color:red" ng-show="errorLoginMail">
                                Invalid E-mail
                            </span>
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="loginPass" id="loginPass" ng-model="loginPass" placeholder="Your password" ng-change="onLoginPassChange(loginPass)" required>
                            <span style="color:red" ng-show="errorLoginPass && isSubmitted">
                                Invalid Password
                            </span>
                        </div>
                        <div class="form-group center">
                            <input type="submit" class="btn btn-primary width-100" ng-click="onLogin()" value="Sign In">
                        </div>
                        <!--end form-group-->
                    </form>

                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div align="left">
                                <a href="javascript:(0)" data-target="modal-reset-password">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div align="right">
                                <a href="javascript:(0)" ng-click="registerFromLoginModal()" style="float:right">Register Now</a>
                            </div>
                        </div>
                    </div>
                    <!--end form-->
                </div>
                <!--end modal-body-->
        </div>
        <!--end modal-content-->
    </div>
</div>

<div id="modal-register" class="modal fade" role="dialog">
    <div class="modal-dialog width-400px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="section-title">
                    <h2>Register</h2>
                </div>
            </div>
            <div class="modal-body">
                <form class="form inputs-underline" name="registerationForm" ng-model="registrationForm" id="registrationForm" novalidate>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="first_name">Title</label>
                                <select class="form-control" ng-model="userTitle" required>
                                    <!--<option ng-repeat="x in userTitles" value="{{x.model}}">{{x.model}}</option>-->
                                    <option value="Mr.">Mr.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Mrs.">Mrs.</option>
                                </select>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="last_name">Name</label>
                                <input type="text" class="form-control" ng-model="userName" name="userName" id="userName" placeholder="Full Name" required>
                                <span style="color:red" ng-show="registerationForm.userName.$invalid && isSubmitted">
                                    <span ng-show="registerationForm.userName.$error.required">Username is required.</span>
                                </span>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--enr row-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" ng-model="email" name="email" id="email" placeholder="Email" required>
                        <span style="color:red" ng-show="registerationForm.email.$invalid && isSubmitted">
                            Invalid E-mail
                        </span>
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        <label for="email">Mobile Number</label>
                        <input type="text" class="form-control" ng-model="mobileNumber" name="mobileNumber" id="mobileNumber" placeholder="Mobile Number" ng-change="onPhoneChange(mobileNumber)">
                        <!--<span style="color:red" ng-show="registerationForm.mobileNumber.$invalid && isSubmitted">
                            <span ng-show="registerationForm.mobileNumber.$error.required">Mobile Number is required.</span>
                        </span>-->
                        <span style="color:red" ng-show="isSubmitted && errorMobileNumber">Invalid Mobile Number.</span>
                        <span style="color:red" ng-show="isSubmitted && errorMobileNumberRequired">Mobile number is required<span/>
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ng-model="password" name="password" id="password" placeholder="Password" ng-change="onPasswordChange(password)" required>
                        <span style="color:red" ng-show="registerationForm.password.$invalid && isSubmitted">
                            <span ng-show="registerationForm.password.$error.required">Password is required.</span>
                        </span>
                        <span style="color:red" ng-show="registerationForm.password.$valid && isSubmitted && errorPasswordLength">Password length must be atleast 6.</span>
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" ng-model="confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" ng-change="onConfirmPassChange(confirm_password)" required>
                        <span style="color:red" ng-show="registerationForm.confirm_password.$invalid && isSubmitted">
                            <span ng-show="registerationForm.confirm_password.$error.required">Please Re-enter password.</span>
                        </span>
                        <span style="color:red" ng-show="registerationForm.confirm_password.$valid && isSubmitted && errorConfirmPass">Password not matched.</span>
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        <label for="user_type">User Type</label>
                        <select class="form-control" ng-model="userType" required>
                            <!--<option ng-repeat="x in userTitles" value="{{x.model}}">{{x.model}}</option>-->
                            <option value="Owner">Owner</option>
                            <option value="Renter">Renter</option>
                        </select>
                    </div>
                    <!--end form-group-->
                    <div class="form-group center">
                        <button type="submit" ng-click="onRegister()" class="btn btn-primary width-100" value>Register Now</button>
                    </div>
                    <!--end form-group-->
                </form>

                <hr>

                <p class="center note">By clicking on “Register Now” button you are accepting the <a href="terms-and-conditions.html" class="underline">Terms & Conditions</a></p>
                <!--end form-->
            </div>
            <!--end modal-body-->
        </div>
        <!--end modal-content-->
    </div>
</div>
