@import '../mixins';

/*
 * ORANGE THEME
 */

$color1: #FFFFFF;
$color2: #FFFFFF; 
$colorhover: #ababab;
$gray-darken : #FFFFFF;
$header : #2196F3;
.theme-orange {
    &.layout-boxed.menu-top {
        nav.left-menu {
            border-left: none;
        }
    }
    nav.left-menu {
        .jspDrag {
            opacity: .3;
            &:after {
                background: $black-lighten-more-more;
            }
        }
        .logo-container {
            background: $header  !important;
            height: 70px;
            .logo {
                img {
                    display: none;
                    &.logo-inverse {
                        display: block;
                    }
                }
            }
        }
        .left-menu-list {
            li {
                .left-menu-link {
                    .left-menu-link-icon {
                        color: $black ;
                    }
                    &:hover {
                        background: $colorhover;
                        color: $black;
                        .left-menu-link-icon {
                            color: $black   ;
                        }
                    }
                    &:after {
                        //border-left-color: $gray-darken;
                        border-left-color:$color1;
                    }
                }
                &.left-menu-list-active {
                    &:after {
                        //border-left-color: $gray-darken;
                        border-left-color:$black;
                    }
                    > .left-menu-link {
                        border-left-color:$black;
                        color: $black;
                        background: $color1 !important;
                        .left-menu-link-icon {
                            color: $black !important;
                        }
                    }
                }

                &.left-menu-list-opened {
                    background: $color1 !important;
                    > .left-menu-link {
                        color: $black !important;
                        background: $color1 !important;
                        .left-menu-link-icon {
                            color: $black !important;
                        }
                    }
                }
                &.left-menu-list-submenu {
                    .left-menu-list {
                        background: #FFFFFF!important;
                    }
                }
            }
        }
    }
    nav.top-menu {
        background:$header;
        &:before {
            display: none;
        }
    }
    .nav.left-menu .left-menu-list li .left-menu-link {
        color: $black !important;
        
        &:hover {
            color: $black !important;
        }
    }
    .subMenu{
            background-color: #FFFFFF!important;
    }
        
    .menu {
        height: 50px!important;
        padding: 21px 16px;

    }
    .left-menu-list-submenu > .left-menu-link{
           margin-left: -15px!important; 
    }
}
