  .profitAndLoss {
        border:2px solid black;
        width: 100% !important;
        height: 90% !important;
    }
    .table1Body {
        font-size: 14px;
        color: black;
        border-top: 2px solid#514d6a !important;
    }
    .borderless td, .borderless th {
        border: none;
    }
    #Table {
        border:none;
        border-collapse: collapse;
        border-bottom: 2px solid black;
    }

    #Table td {
        border-left: 2px solid #000000 !important;
        border-right: 2px solid #000000 !important;
    }

    #Table td:first-child {
        border-left: none !important;
    }

    #Table td:last-child {
        border-right: none !important;
    }


.Balancesheet{
    width: 100%;
    height: 85%;
    border: 2px solid;
}

#BusinessName{
     color: #000000;
     font-weight: bold;
     font-size: 18px;
     text-align: left;
     padding: 5px 5px 5px 25px;
}

#Balacesheet-tilte{
    color: black;
    text-align: center;
    font-size: 18px;
}
#source-text{
    text-decoration: underline;
    font-style: italic;
    color: black;
}

.funds-tile{
    color: black;
    font-size: 12px;
}

.count{
    color: black;
    font-size: 12px;
    text-align: center;
}

.rs{
    color: black;
    font-size: 12px;
    text-align: right;
}

.Rs_title{
    color: black;
    text-align: right;
}

#grand{
    color: black;
    text-align: right;
    font-size: 11px;
}

.amount{
    color: black;
    font-size:14px;
    text-align: right;
}

.asset{
    color: black;
}

.current{
    color: black;
}

.sub_title{
    color: black;
    font-size: 12px;
}

.total{
    color: black;
    text-align: right;
}

#total-count{
margin-left: 51px;
color: black;
}

#BusinessNameEnd{
    color: black;
    text-align: right;
    margin-left: -50px;
    padding: 7%;
}

// incomeAndExpenditure
.incomeAndExpenditure {
    border:2px solid black;
    width: 100% !important;
    height: 90% !important;
}

.rpMainHead{
    margin-left: -2px !important;
    margin-right: -2px !important;
    border: 1px solid;
}

.rpVertical{
    border-right: 1px solid;height: 35px;
}

.rpHeadTitle{
    text-align:center;color:#000000;font-weight:bold;    margin-top: 5px;
}

.rpContent{
    margin-left: -2px !important;
    margin-right: -2px !important;
    color: #000000;
}

.rpClosingContent{
    border-bottom: 1px solid #000000;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 35px;
}